<div>
  User list!!<br/><br/>

  total count: {{entityService.totalCount$ | async}}<br/>
  items: {{entityService.items$ | async | json}}

<!--  <ngx-loading [show]="isSpinner"></ngx-loading>-->
</div>

<br/><br/>
<div> page index:<input #pageIndex /></div>
<div> sort key:<input #sortKey /></div>
<div> sort Order:<input #sortOrder /></div>
<button (click)="onClickGetPage(pageIndex.value, sortKey.value, sortOrder.value)">Get Page</button>

<br/><br/>
<div>
  <button (click)="onClickAdd()">Add Item</button>
  <button (click)="onClickEdit()">Edit Item</button>
  <button (click)="onClickDelete()">Delete Item</button>
</div>
