<div>
  User list!!<br/><br/>

  total count: {{totalCount$ | async}}<br/>
  items: {{items$ | async | json}}

<!--  <ngx-loading [show]="isSpinner"></ngx-loading>-->
</div>

<br/><br/>
<div> page index:<input #pageIndex/><button (click)="onClickPageIndex(pageIndex.value)">Get Page Index</button></div>
<div> page size:<input #pageSize/><button (click)="onClickPageSize(pageSize.value)">Get Page Size</button></div>
<div> sort key:<input #sortKey/>&nbsp;&nbsp;&nbsp;sort Order:<input #sortOrder/><button (click)="onClickSort(sortKey.value, sortOrder.value)">Get Sort</button></div>
<!--<button (click)="onClickGetPage(pageIndex.value, sortKey.value, sortOrder.value)">Get Page</button>-->

<br/><br/>
<div>
  <button (click)="onClickAdd()">Add Item</button>
  <button (click)="onClickEdit()">Edit Item</button>
  <button (click)="onClickDelete()">Delete Item</button>
</div>
