<div class="table-preface">
  <div class="title-and-role">
    <span class="title">Users</span>
  </div>
  <div>
<!--    <app-download-csv (downloadCsv)="onClickDownloadCsv()"></app-download-csv>-->
    <span class="items-count">total: {{(totalCount$ | async)}}</span>
  </div>
</div>

<app-user-filter-line class="filter-line"
                      [initialFilter]="filter"
                      (onChangeFilterLine)="onChangeFilterLine($event)">
</app-user-filter-line>

<div class="mat-elevation-z8">
  <table mat-table matSort aria-label="Elements"
         [dataSource]="dataSource"
         [matSortActive]="sort.key"
         [matSortDirection]="sort.order === 1 ? 'asc' : 'desc'"
         (matSortChange)="onChangeSort($event)"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let user"> {{user.status | userStatusLabel}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let user"> {{user.email}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let user"> {{user.role | roleLabel}} </td>
    </ng-container>

    <ng-container matColumnDef="lastLoginTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Login Time </th>
      <td mat-cell *matCellDef="let user"> {{user.lastLoginTime | date:'yyyy-MM-dd hh:mm'}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let user">
        <i class="material-icons" (click)="onClickEdit(user.id)">edit</i>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let user">
        <i class="material-icons" (click)="onClickDelete(user.id)">delete</i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  </table>

  <div class="table-no-items" *ngIf="!(isLoading$ | async) && (totalCount$ | async) ===  0">
    There are no items
  </div>

  <mat-paginator #paginator *ngIf="paging.pageSize > 0"
                 showFirstLastButtons
                 [length]="totalCount$ | async"
                 [pageIndex]="paging.pageIndex"
                 [pageSize]="paging.pageSize"
                 [pageSizeOptions]="PAGE_SIZE_OPTIONS"
                 (page)="onChangePaging($event)"
  >
  </mat-paginator>
</div>
