<ng-container [NgRouteChange]="{ handler: onRouteChange.bind(this) }"></ng-container>

<router-outlet></router-outlet>

<ng-container [ngSwitch]="pageType">
  <app-add-user
    *ngSwitchCase="PageType.AddItem"
    [numberTypeColumns]="entity.numberTypeColumns"
    (onCancel)="onCancelItem()"
    (onSubmit)="submitAddItem($event)"
  ></app-add-user>
  <app-edit-user
    *ngSwitchCase="PageType.EditItem"
    [numberTypeColumns]="entity.numberTypeColumns"
    [currItem$]="entityStore.currItem$"
    (onCancel)="onCancelItem()"
    (onSubmit)="submitEditItem($event)"
  ></app-edit-user>
  <app-user-list
    *ngSwitchCase="PageType.List"
    [entity]="entity"
    [items$]="entityStore.items$"
    [totalCount$]="entityStore.totalCount$"
    [listPageMetrics$]="entityStore.listPageMetrics$"
    [isLoading$]="isLoading$"
    [localStorageTableKey]="localStorageTableKey"
    (navigateToAddPage)="navigateToAddPage()"
    (navigateToEditPage)="navigateToEditPage($event)"
    (submitDeleteItem)="submitDeleteItem($event)"
    (onChangeListPageMetrics)="onChangeListPageMetrics($event)"
  ></app-user-list>
</ng-container>



