@import 'variables';

// colors:

.mat-form-field {
  width: 24rem !important; // #69f0ae !important;
  font-size: 1rem !important;

  &.min-height {
    font-size: 0 !important;

    .mat-form-field-infix {
      border-top: 0 !important;
      border-bottom: 0 !important;
    }
  }
}

.mat-form-field-label {
  // color: $form-field-label !important;
}

// form field underline color when typing
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $form-field-label !important; // #69f0ae !important;
}

// input text color
// .mat-form-field, .mat-select-value-text {
  // color: white !important;
// }

.mat-form-field-underline {
  background-color: #666 !important;  // black !important; // change black with your color
}

.mat-form-field.ng-dirty.ng-invalid .mat-form-field-label,
.mat-form-field.ng-dirty.ng-invalid .mat-form-field-ripple {
  color: red !important;
}

.mat-checkbox {
  font-size: 1rem !important;
}

.mat-form-field-infix {
  font-size: 0.9rem !important;
}


.form-container {
  box-sizing: border-box !important;
  padding: 32px 24px !important;
  background-color: $form-background-color !important;
  border: $form-border;
  display: inline-block !important;

  .title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #999 !important;
    margin-bottom: 2rem;
  }

  .column-form {
    > div:not(:first-child) {
      margin-top: 1rem !important;

      &.buttons-bar {
        margin-top: 2rem !important;
      }

      &.margin-top-2rem {
        margin-top: 2rem !important;
      }

      &.margin-top-3rem {
        margin-top: 3rem !important;
      }
    }
  }

  .buttons-bar {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    :not(:first-child) {
      margin-left: 1rem;
    }
  }
}
