/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'material';
@import 'toastr';
@import 'form';
@import 'table';
@import 'dialog';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.h-center {
  //display: flex;
  justify-content: center;
}

.w100 {
  width: 100%;
}
