/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'material';
@import 'toastr';
@import 'form';
@import 'table';
@import 'dialog';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.h-center {
  //display: flex;
  justify-content: center;
}

.w100 {
  width: 100%;
}

.small-button {
  padding: 6px 8px !important;
  min-width: 0px !important;
  line-height: 1rem !important;
  font-size: 0.65rem !important;
  font-weight: normal !important;
  color: white !important;
}
