
table {
  width: 100%;
}

.table-no-items {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #dddddd;
}

.table-preface {
  background: #cccccc !important;
  display: flex !important;
  padding: 1.5rem 1rem !important;
  justify-content: space-between !important;
  align-items: center !important;

  .title-and-role {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    .title {
      font-size: 1.5rem !important;
      font-weight: 400 !important;
    }
  }

  .items-count {
    font-size: 0.9rem !important;
    margin-right: 1rem !important;
  }

  .add-button {
    background: #1f7149 !important;
  }
}

.filter-line {
  // margin-top: 0.2rem;
  // margin-bottom: 1rem;
  margin-left: 4rem;

  .filter-label {
    font-size: 0.9rem;
    //font-style: italic;
    opacity: 0.5;
    margin-right: 0.9rem;
  }

  mat-form-field {
    width: 10rem !important;
    margin-right: 3rem;
  }
}

.mat-paginator {
  font-size: 0.9rem !important;

  .mat-paginator-container {
    .mat-paginator-page-size-label{
      margin: 0 0.6rem !important;
    }
    .mat-paginator-page-size-select {
      width: 4rem !important;

      .mat-select-trigger {
        font-size: 0.9rem !important;
      }
    }
    .mat-form-field-wrapper {
      width: 4rem !important;
    }
    .mat-button-base {
      width: 2.5rem !important;

      .mat-paginator-icon {
        height: 2rem;
      }
    }
  }
}
