.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav {
    width: 200px;
    .logo {
      cursor: pointer;
    }
    .content {
      background: yellow;
      display: block;
      height: 500px;
    }
  }

  .main {
    .header {
      .title {
        margin-left: 1rem;
      }
    }
  }
}

mat-icon {
  cursor: pointer;
}
