$header-height: 64px;
$header-line-height: 32px;

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav {
    width: 200px;
    .toolbar {
      display: flex;
      justify-content: space-between;
      .logo {
        cursor: pointer;
      }
    }
    .content {
      display: block;
    }
  }

  .main {
    .header {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      height: $header-height;
      line-height: $header-line-height;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      .header-menu {
        display: inline-flex;
        align-items: center;
        i {
          font-size: 1.5rem !important;
        }
        .title {
          margin-left: 1rem;
        }
      }
      .account {
        margin-right: 1rem;
        display: inline-flex;
        align-items: center;
        i {
          font-size: 1.8rem !important;
        }
      }
    }
    .page-container {
      margin-top: $header-height;
      padding: 1rem;
    }
  }
}
