$header-height: 64px;
$header-line-height: 32px;

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .sidenav {
    width: 200px;
    .toolbar {
      display: flex;
      justify-content: space-between;
      .logo {
        cursor: pointer;
      }
    }
    .content {
      display: block;
    }
  }

  .main {
    .header {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      height: $header-height;
      line-height: $header-line-height;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      .header-menu {
        display: inline-flex;
        align-items: center;
        i {
          font-size: 1.5rem !important;
        }
        .title {
          margin-left: 1rem;
        }
      }
      .account {
        margin-right: 1rem;
        display: inline-flex;
        align-items: center;
        i {
          font-size: 1.8rem !important;
        }
      }
    }
    .page-container {
      margin-top: $header-height;
      padding: 1rem;
    }
  }
}

.account-container {
  padding: 1rem !important;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .account-header {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;

    .name {
      font-size: 1.1rem;
      margin-bottom: 0.3rem;
    }

    .email {
      color: #888888;
    }
  }
  button {
    padding: 0;
  }
}

