<div class="form-container" *ngIf="(appText$ | async) as appText">
  <div class="title">{{text.title}}</div>

  <form class="column-form" [formGroup]="formGroup">
    <div>
      <mat-form-field>
        <mat-label>{{text.firstName}}</mat-label>
        <input matInput formControlName="firstName" autofocus>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>{{text.lastName}}</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>{{text.role}}</mat-label>
        <mat-select matInput formControlName="role">
          <mat-option *ngFor="let role of rolesLabels | keyvalue" [value]="role.key">
            {{role.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>{{text.status}}</mat-label>
        <mat-select matInput formControlName="status">
          <mat-option *ngFor="let status of userStatusLabels | keyvalue" [value]="status.key">
            {{status.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>{{text.email}}</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>{{text.password}}</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
    </div>

    <div class="buttons-bar">
      <button mat-flat-button (click)="onClickCancel()" color="warn">{{appText.general.buttons.cancel}}</button>
      <button mat-flat-button (click)="onClickSubmit()" color="primary" type="submit" [disabled]="formGroup.invalid">{{appText.general.buttons.add}}</button>
    </div>
  </form>
</div>

