<div *ngIf="data" class="filter-line">
  <span class="filter-label">Role:</span>
  <mat-form-field>
    <mat-select #filterRole (selectionChange)="onChangeFilterField('role', filterRole.value)" [value]="filter.role">
      <mat-option *ngFor="let role of data.roles | keyvalue" [value]="role.key">
        {{role.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span class="filter-label">Status:</span>
  <mat-form-field>
    <mat-select #filterStatus (selectionChange)="onChangeFilterField('status', filterStatus.value)" [value]="filter.status">
      <mat-option *ngFor="let status of data.statuses | keyvalue" [value]="status.key">
        {{status.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
