<div *ngIf="data && (appText$ | async) as appText" class="filter-line">
  <span class="filter-label">{{appText.pages.users.addUser.role}}:</span>
  <mat-form-field class="min-height">
    <mat-select #filterRole (selectionChange)="onChangeFilterField('role', filterRole.value)" [value]="filter.role">
      <mat-option *ngFor="let role of data.roles | keyvalue" [value]="role.key">
        {{role.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span class="filter-label">{{appText.pages.users.addUser.status}}:</span>
  <mat-form-field class="min-height">
    <mat-select #filterStatus (selectionChange)="onChangeFilterField('status', filterStatus.value)" [value]="filter.status">
      <mat-option *ngFor="let status of data.statuses | keyvalue" [value]="status.key">
        {{status.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
